<configuration>
  <runtime>
    <gcServer enabled="true" />
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.DataProtection" culture="neutral" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.1.0.21019" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>